body, html{
    height: 100%;
    min-height: 100vh;
    margin: 0;
    color: #fff;
    font-family: 'Calibri' ;
}

a{

    color: #fff;
    text-decoration: none;
}

a.logo{
    margin-top: -1.8%;
    font-size: 3rem;
    padding: 30px;
    color:white;

}

body.Login{
    background-image: url('../images/userbg.png');
    font-family: "Lobster";
}
main{
    background-image: url('../images/userbg.png');
}
body.Login{
    background-size: cover;
    background-repeat: no-repeat;
}
body.TrainerLogin{
    background-image: url('../images/trainerbg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
body.SignUp{
    background-image: url('../images/signup.png');
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    padding: 30px;
    font-family: 'Nunito';
}

nav ul{
    list-style-type: none;
    float: right;
    font-size: 1.6rem;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: #000;
    padding: 0 30px;
}
a.trainer{
    font-size: 0.7em;

    text-align: center;
}
form{
    padding: 20px;
    margin-left:35%;
    margin-right: 35%;
    margin-top: 5%;
    background-color: white;
    color: black;
    font-size: 1.4em;

}

form.signup{
    padding:20px;
    margin-left:35%;
    margin-right: 35%;
    margin-top: -1%;
    background-color: white;
    color: black;
    font-size: 1.2em;
}
h2{
    font-size: 3em;

}
button {
    background-color: #2764a4;

    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 0.7em;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 34%;
    width: 30%;
    transition: 0.7s;
}
button:hover{
    transition: 0.7s;

    background-color: #ff99ab;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 28px 0;
    background-color: #3f84b5;
    color:white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0.7em;
    box-shadow: 4px 2px 5px 1px #eee;
}
input[type=date]{
    padding: 5px 20px;
    text-align: center  ;
    margin: 18px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 3.1em;
    color:#3f84b5;
    font-family: Calibri;
    border-radius: 20px;
    outline: none;
    border: transparent;
}
input[type=button]{
    padding: 5px 20px;
    text-align: center  ;
    margin: 18px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.3em;
    color:#3f84b5;
    font-family: Calibri;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: transparent;
}

table{
    border-collapse: collapse;
    width: 50%;
    font-size: 1.3em;
}
td{
    text-align: center;
    padding: 5%;
}
th{
    padding: 3%;
}
tr:nth-child(even) {background: #3f84b5; color:white;}
tr:nth-child(odd) {background: #7cb8cb; color:white;}
